<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
    <div class="container-fluid ms-5">
      <a class="navbar-brand fs-5 fw-bolder" href="#">ANGULAR NGRX </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li>
        </ul>

        <div class="fw-5 text-white fs-5 fw-bolder">
          home : {{ count$ | async }}
        </div>
      </div>
    </div>
  </nav>

  <app-counter></app-counter>
</div>
